.git
.github
.dvc/cache
.venv
venv
**/__pycache__
**/*.pyc
*.log

data
mlruns
mlartifacts
mlflow.db
.local_run

docs
notebooks
scripts
tests
artifacts/api.err.log
artifacts/api.out.log
artifacts/ui.err.log
artifacts/ui.out.log
